* {
    margin: 0px;
    /*padding: 0px;*/
}

body {
    background: #cc6;

}



#cabecera {
    background: #fffbb9;
    text-align: center;
    border: 1px solid #999999;
    padding: 20px;
    font-size: 30px;
}

#menu {
    background: rgb(247, 158, 24);
    padding: 5px 15px;
    text-align: center;

}


#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 15px verdana, sans-serif;

}

.titulo {
    font-size: 77px;
    text-shadow: -5px 0px 7px rgb(8, 112, 39);
}

section {
    width: 80%;
    float: left;
    background-color: #e3e345;
    text-align: center;
    font-size: 20px;
}

aside {
    width: 20%;
    float: left;
    background: #99b14e;
    text-align: left;
    font-size: 20px;
}

header {
    padding: 25px;
    background-color: #cfd8dc;
}

.contenedor {
    display: flex;
}
button{
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
button.celeste {
background-color: aquamarine;
}
button.verde {
    background-color: #99b14e;
}
